html,
body {
    height: 100%;
}

#app{
    padding-bottom: 50px;
}

.countdown-container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-0%);
    -moz-transform: translateY(-0%);
    transform: translateY(-0%);
}

.title {
    color: white;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6rem;
}

.clock {
    display: flex !important;
    justify-items: center !important;
    align-items: center !important;
}

.info {
    margin-top: 5rem;
    padding: 3rem 0;
    background-color: rgba(0, 0, 0, 0.178);
}

.info .f-title {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0rem;
}

.info .f-title2 {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 1.5rem;
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}

.info .title {
    margin-top: 0.5rem;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0rem;
}

.clock-days {
    /*display: none;*/
}


.clock-item .inner {
    height: 0px;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.clock-canvas {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 50%;
    height: 0px;
    padding-bottom: 100%;
}

.text {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    width: 100%;
}

.text .val {
    font-size: 40px;
}

.text .type-time {
    font-size: 18px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .clock-item {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .clock-item {
        margin: 0px 30px 30px 30px;
    }
}
