<template>
    <div class="countdown countdown-container container">
        <h1 class="title">lot start in</h1>

        <div class="clock row" style="display: flex; justify-content: center;">

            <div class="clock-item clock-days countdown-time-value col-sm-6 col-md-3">
                <div class="wrap">
                    <div class="inner">
                        <div id="canvas_days" class="clock-canvas"></div>

                        <div class="text">
                            <p class="val">0</p>
                            <p class="type-days type-time">DAYS</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clock-item clock-hours countdown-time-value col-sm-6 col-md-3">
                <div class="wrap">
                    <div class="inner">
                        <div id="canvas_hours" class="clock-canvas"></div>

                        <div class="text">
                            <p class="val">0</p>
                            <p class="type-hours type-time">HOURS</p>
                        </div><!-- /.text -->
                    </div><!-- /.inner -->
                </div><!-- /.wrap -->
            </div><!-- /.clock-item -->

            <div class="clock-item clock-minutes countdown-time-value col-sm-6 col-md-3">
                <div class="wrap">
                    <div class="inner">
                        <div id="canvas_minutes" class="clock-canvas"></div>

                        <div class="text">
                            <p class="val">0</p>
                            <p class="type-minutes type-time">MINUTES</p>
                        </div><!-- /.text -->
                    </div><!-- /.inner -->
                </div><!-- /.wrap -->
            </div><!-- /.clock-item -->

            <div class="clock-item clock-seconds countdown-time-value col-sm-6 col-md-3">
                <div class="wrap">
                    <div class="inner">
                        <div id="canvas_seconds" class="clock-canvas"></div>

                        <div class="text">
                            <p class="val">0</p>
                            <p class="type-seconds type-time">SECONDS</p>
                        </div><!-- /.text -->
                    </div><!-- /.inner -->
                </div><!-- /.wrap -->
            </div><!-- /.clock-item -->

            <button class="btn mt-5" style="width: 150px;background: #057F70;color: white;border: 1px solid #ECEFCB" id="reset-count">Reset</button>

        </div>


        <div class="info">
            <h2 class="f-title">Auction Type:</h2>
            <h1 class="title">Fast Auction</h1>
            <h2 class="f-title">Down Payment</h2>
            <h1 class="title"><span class="color-green">000 SAR PAID</span> / <span class="color-red">NOT PAID</span>
            </h1>
        </div>

        <div class="info">
            <h2 class="f-title2">1. Terms and conditions Terms and conditions Terms and conditions</h2>
            <h2 class="f-title">2. Terms and conditions Terms and conditions Terms and conditions</h2>
        </div>
    </div>


</template>

<script>
export default {
    name: "Counter"
}
</script>

<style scoped>

</style>
