<template>

    <div>

        <form v-if="!show_table" style="padding: 15px">
            <div class="form-group">
                <label for="inputAddress">Main Category</label>

                <span
                    v-if="dataLoading"
                    class="spinner-grow spinner-grow-sm mr-1"
                    role="status"
                    aria-hidden="true">
                </span>


                <multiselect
                    @close="fetchSubCategories"
                    @search-change="fetchCategories"
                    track-by="id"
                    :loading="dataLoading"
                    label="title"
                    id="multiselect"
                    ref="multiselectRef"
                    autocomplete="on"
                    selectLabel=""
                    v-model="row.category_id"
                    :options="categories"
                    :close-on-select="true"
                    :clear-on-select="false"
                    :hide-selected="true"
                    :preserve-search="true"
                    :taggable="false"
                    :searchable="true"
                    placeholder="Select Elements">

                    <template slot="noResult">
                                    <span class="option__desc ">
                                      <span class="option__title">
                                        No Data
                                      </span>
                                    </span>
                    </template>
                    <template slot="noOptions">
                                    <span class="option__desc">
                                      <span class="option__title">
                                        No Data
                                      </span>
                                    </span>
                    </template>


                </multiselect>

            </div>

            <div class="form-group">
                <label for="inputAddress">Sub Category</label>

                <span
                    v-if="dataLoading"
                    class="spinner-grow spinner-grow-sm mr-1"
                    role="status"
                    aria-hidden="true">
                </span>


                <multiselect
                    v-if="sub_categories"
                    @close="fetchProperties"
                    @search-change="fetchSubCategories"
                    track-by="id"
                    :loading="dataLoading"
                    label="title"
                    id="multiselect"
                    ref="multiselectRef"
                    autocomplete="on"
                    selectLabel=""
                    v-model="row.sub_category_id"
                    :options="sub_categories"
                    :close-on-select="true"
                    :clear-on-select="false"
                    :hide-selected="true"
                    :preserve-search="true"
                    :taggable="false"
                    :searchable="true"
                    placeholder="Select Elements">

                    <template slot="noResult">
                                    <span class="option__desc ">
                                      <span class="option__title">
                                        No Data
                                      </span>
                                    </span>
                    </template>
                    <template slot="noOptions">
                                    <span class="option__desc">
                                      <span class="option__title">
                                        No Data
                                      </span>
                                    </span>
                    </template>


                </multiselect>
            </div>


            <span v-if="base_properties.length">
                <div class="form-group">
                    <div v-for="property in base_properties" :key="property.id">
                    <label for="inputAddress">{{ property.name }}</label>

                        <div v-for="child_property in property.childs" :key="child_property.id">

                            <div class="col-md-12 text-center" style="padding:0">
                            <select
                                class="form-control"
                                @change="setPropertyKey($event , child_property.name , child_property.id)"
                            >
                              <option value="">Select {{ child_property.name }}</option>
                              <option v-for="(option, index) in child_property.options"
                                      :key="index"
                                      :value="option.name">
                                {{ option.name }}
                              </option>
                              <option value="other">Other</option>
                            </select>

                            <input type="text"
                                   class="form-control mt-2"
                                   v-if="row.properties[child_property.id] && row.properties[child_property.id].value == 'other' "
                                   placeholder="From User" v-model="row.properties[child_property.id].value">

                        </div>

                        </div>

                        <div class="col-md-12 text-center" style="padding:0">
                            <select
                                class="form-control"
                                @change="setPropertyKey($event , property.name , property.id)"
                            >
                              <option value="">Select {{ property.name }}</option>
                              <option v-for="(option, index) in property.options"
                                      :key="index"
                                      :value="option.name">
                                {{ option.name }}
                              </option>
                              <option value="other">Other</option>
                            </select>

                            <input type="text"
                                   class="form-control mt-2"
                                   v-if="row.properties[property.id] && row.properties[property.id].value == 'other' "
                                   placeholder="From User" v-model="row.properties[property.id].value">

                        </div>
                    </div>
                </div>
            </span>


            <div class="form-group">
                <button class="btn btn-dark btn-size" @click="submit" :disabled="row.properties.length == 0">
                    <span>Submit</span>
                </button>
                <button type="button" @click="reset" class="btn btn-default btn-size p-10">
                    Reset
                </button>
            </div>

        </form>

        <div class="container mt-5" v-if="show_table">
            <Table :row="row"/>

            <div class="form-group">
                <button class="btn btn-dark btn-size" @click="back" :disabled="row.properties.length == 0">
                    <span>Back</span>
                </button>
            </div>
        </div>

    </div>

</template>

<script>
import Multiselect from 'vue-multiselect';
import iziToast from 'izitoast';
import Table from './Table';

export default {
    name: "Form",
    components: {
        Multiselect,
        Table
    },
    data() {
        return {
            show_table: false,
            base_categories: [],
            properties: [],
            base_properties: [],
            base_sub_categories: [],
            categories: [],
            sub_categories: [],
            dataLoading: true,
            row: {
                category_id: '',
                sub_category_id: '',
                main_category: '',
                sub_category: '',
                properties: [
                    {
                        key: '',
                        value: ''
                    }
                ],
            }
        }
    },
    created() {
        this.fetchCategories();
    },

    methods: {
        fetchCategories: function (search = '') {
            this.dataLoading = true;
            axios.defaults.headers.common = {
                'X-Requested-With': 'XMLHttpRequest', // security to prevent CSRF attacks
            };

            const options = {
                url: 'https://staging.mazaady.com/api/get_all_cats',
                method: 'GET'
            }
            axios(options)
                .then(res => {
                    this.dataLoading = false;
                    this.base_categories = res.data.data.categories;

                    this.base_categories.filter((row) => {
                        this.categories.push({id: row.id, title: row.name})
                    });
                })
                .catch(err => {
                    this.dataLoading = false;
                    iziToast.warning({
                        icon: 'bx bx-angry',
                        title: '',
                        message: (err.response) ? err.response.data.message : '' + err
                    });
                })
        },
        fetchSubCategories: function () {
            const id = this.row.category_id.id;

            const index = this.base_categories.findIndex(category => {
                return category.id == id;
            });
            const base_category = this.base_categories[index];
            this.row.main_category = base_category.name;

            this.base_sub_categories = base_category.children;
            this.sub_categories = [];
            this.base_sub_categories.filter((row) => {
                this.sub_categories.push({id: row.id, title: row.name})
            });

        },
        fetchProperties() {
            const id = this.row.sub_category_id.id;
            const index = this.base_sub_categories.findIndex(category => {
                return category.id == id;
            });
            const base_category = this.base_sub_categories[index];
            this.row.sub_category = base_category.name;

            this.dataLoading = true;
            axios.defaults.headers.common = {
                'X-Requested-With': 'XMLHttpRequest', // security to prevent CSRF attacks
            };

            const options = {
                url: 'https://staging.mazaady.com/api/properties?cat=' + id,
                method: 'GET'
            }
            axios(options)
                .then(res => {
                    this.dataLoading = false;
                    this.base_properties = res.data.data;
                })
                .catch(err => {
                    this.dataLoading = false;
                    iziToast.warning({
                        icon: 'bx bx-angry',
                        title: '',
                        message: (err.response) ? err.response.data.message : '' + err
                    });
                })
        },
        setPropertyKey(e, key, id) {
            this.row.properties[id] = {
                key,
                value: e.target.value,
            };
            this.$forceUpdate();
        },
        submit() {
            this.show_table = true;
        },
        back() {
            this.show_table = false;
        },
        reset() {
            this.row = {
                category_id: '',
                sub_category_id: '',
                main_category: '',
                sub_category: '',
                properties: [
                    {
                        key: '',
                        value: ''
                    }
                ],
            };
        }
    }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
