<template>


    <table class="table" v-if="row">
        <thead>
        <tr>
            <th scope="col">Main Category</th>
            <th scope="col">Sub Category</th>
            <th v-if="property" v-for="(property, index) in row.properties" :key="property.key" scope="col">
                {{ property.key }}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">{{ row.main_category }}</th>
            <th>{{ row.sub_category }}</th>
            <th v-if="property" v-for="(property, index) in row.properties" :key="property.key" scope="col">
                {{ property.value }}
            </th>
        </tr>
        </tbody>
    </table>

</template>

<script>
export default {
    name: "Table",
    props: ['row'],
    computed: {
        properties() {
            return this.$props.row.properties.filter();
        }
    }
}
</script>

<style scoped>

</style>
